.userInput {
    margin: 15px;
}

#container {
    height: 960px;
    width: 960px;
    display: inline-grid;
    align-items: stretch;
    justify-content: stretch;
}

.square {
    background-color: blue;
}

.square:hover {
    background-color: black;
}