.userInput {
    margin: 15px;
}

#container {
    height: 800px;
    width: 800px;
    display: inline-grid;
    align-items: stretch;
    justify-content: stretch;
    border: 2px solid black;
}

.square {
    transition: background-color 1s;
}